@import url('./common.css');


.book{margin: 0;padding: 0;
    background: #a58f65; 
    display:block;
    position: absolute;
    left: 92%; top:50%; transform: translate(-92%,50%);
    transform: rotate(-90deg);
    width: 12%;height: 7%;
    text-align: center; 
    text-decoration: none;
    color: white;
    font-size: 10Px;
    line-height: 550%;
    position: fixed;
    z-index: 100;}

.book:hover{
    color: black; 
    font-size: 11px; 
    line-height: 490%;}

.q-1{width: 100%;display: flex; 
    justify-content: center;align-items: center;
margin-left: 4%;}
.q-1 h3{margin-top: 3%;}
.q-1 h3 span{color: #bec2ba; font-size: 16px;}
.q-1 h3{color:#8b9187;font-size: 26px}
.q-1 p{font-size: 38px;color: #bec2ba;margin-left: 4%;margin-top: 3%;}
.q-4 li{list-style: none;color: #8b9187;}
.q-4 li span{color: #8b9187;padding-left: 2%; width: 500px;}
.q-4{width: 30%}
.q-4 li strong{display: inline-block;}
.q-4 li:nth-of-type(1) strong{margin:0 10px 0 0 ;}
.q-4 li:nth-of-type(2) strong{margin:0 40px 0 0 ;}
.q-4 li:nth-of-type(3) strong{margin:0 2px 0 0 ;}


.q-4{margin-top: 5%;}
.q-2{width: 100%;overflow: hidden;
    margin-top: 2%;}



.q-3 li{list-style: none;margin-left: 2%;}
.q-3{width: 100%;}
.q-3{display: flex;justify-content: center;align-items: center;}



