@import url('./common.css');




    main{
        width:91%; float: right;
        overflow: hidden;
        
    }
    main div{position: relative;}
    main > div figure{margin:0; overflow:hidden;}
    main div .center{
        left: 50%;top:50%;
        font-size: 1.5rem; 
        color: white;
        position: absolute; 
        transform:translate(-50%,-50%);
        text-align: center;
    }
    main div .tx-2{
        font-family:'Dancing script';
        font-size: 82px; 
        margin: 0;
        padding: 0;
        text-align: left;}
        
    main .p-1{
        position: absolute; 
        display: block;
        left:50%;bottom: 2%;
        transform: translate(-50%,2%);}
    main .p-2 {
        position:absolute;
        right:53%; top:97%; 
        transform: translate(0,97%,53%);}
    main div figure span{
        margin: 0;
        padding: 0; 
        display: block; 
        position: absolute;
        left:52%; 
        bottom:3%; 
        transform: translate(-52%, 0, 0 ,-3%);
        color: white;
        font-size: 10px;}
    main figure .p-3{
        margin: 0; 
        padding: 0;
        font-size: 25px;
        position: block; 
        position: absolute;
        border-radius: 100%;
        color: white;
        width: 10%;
        left: 54.78%; 
        top:94.9%; 
        transform: translate(-49.78%,-89.9%);
    }




    main .o-2 h2{
        text-align: center;
        margin-top: 150px; 
        color: #a58f65; 
        font-size:35px;}


    .o-3{
        width: 70%; 
        margin-left: 15%;
        overflow: hidden;
    }
    .o-4{width: 100%;animation: o4 6s infinite;
    }
    .o-4.active{
        
    }

    @keyframes o4{
        0%{transform: translateX(0);}
        
        50%{transform: translateX(-50%);}
    
        100%{transform: translateX(-100%);} 
    }
    

    .o-4 figure{
        font-size: 0; 
        display: flex;
         margin: 0;
         margin-top: 50px; 
         justify-content: start;
    }
    .o-4 a{
        width:300px; 
        display: inline-block;
        flex-shrink: 0; 
        margin-right:3%;
    }
    .o-4 a:last-child{margin-right: 0;}
    .o-4 a img{width: 100%; height: 300px;}
    .o-3 p{margin-top: 10%; 
        text-align: center;
        line-height: 30px;}



    .o-1{width: 100%;
        margin-top: -550px;
        background-color:#f3eee6;
        display: flex;
    
        flex-direction:row;
        
        /* 7월 14일 js 자바 수정 */
        transform: translateX(-200%);
        transition: 1s;
        }
    .o-1.active{transform: translateX(0); transition: 1s;}
    
    .o-1 figure{width: 50%;}
    .o-1 figure img{width: 100%;}
    .b-1{
        width: 50%; 
        display: flex;
        justify-content: center;
        flex-direction:column;
        padding:0 15%;
        box-sizing: border-box;
    }
    .b-1 h2{}
    .b-1 span{
        display: block; 
        text-align: left;
        padding-top: 4%;
        word-break: keep-all;
    }

    .o-5{background-color:#f3eee6;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        background-color:#f3eee6;

        /* 7월 16일 js수정 */
        transform: translateX(200%);
        transition: 1s;
       
    }
    .o-5.active{transform: translateX(0); transition: 1s;}    

    .o-5 figure{width: 50%;}
    .o-5 figure img{width: 100%;}
    .o-6{
        width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15%;
    box-sizing: border-box;}
    .o-6 h2{}
    .o-6 span{
        text-align: left;
        display: block;
        ;padding-top: 4%;
        word-break: keep-all;
    }

    .r-1 {width: 100%; height:500px;
        transition: 0.5s;color: black;height: 1500px;
        
    }
    .r-1 div{
        margin-top: 150px; 
        position:relative;
    }
    .r-1 .r-2{width: 50%; position:absolute;left:-6%; top:3%; z-index:3;}
    .r-1 .r-3{
        margin-left: -15%;
        width: 750px; height:90vw;
        transform-origin: 0% 0%;
        transform: rotate(-90deg) translateX(-100%) translateY(26%);
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .r-1 .r-3::-webkit-scrollbar{display:none;}
    .r-1 .r-3 ul{
        position:absolute;
        display:flex;
        transform:translate(0%,0%) rotate(90deg) ;
        transform-origin: 0% 100%;
        
    }
    .r-1 .r-3 li{margin-right: 2%; flex-shrink: 0;
    }
    .r-1 .r-3 img{width: 400px;height: 500px;}
    .r-1 .r-2{text-align: center;
        margin-top: 180px;}
    .r-1 .r-2 h2{margin-top: 150px;}
    .r-1 div .r-2 p{
        padding-top: 80px;}
    .r-1 .r-2 button{color:white;background-color: #a58f65; margin-top: 10px;
    border-radius: 10px;}
    
    




    @media (min-width:360px) and (max-width:768px){
       
    main{
        width:100%;
        
    }
    main div{position: relative;}
    main > div figure{margin:0; overflow:hidden;}
    main div .center{display: none;
        left: 50%;top:50%;
        font-size: 1.5rem; 
        color: white;
        position: absolute; 
        transform:translate(-50%,-50%);
        text-align: center;
    }
    main div .tx-2{display: none;
        font-family:'Dancing script';
        font-size: 82px; 
        margin: 0;
        padding: 0;
        text-align: left;}
        
    main .p-1{display: none;opacity: 0;
        position: absolute; 
        display: block;
        left:50%;bottom: 2%;
        transform: translate(-50%,2%);}
    main .p-2 {display: none;
        position:absolute;
        right:53%; top:97%; 
        transform: translate(0,97%,53%);}
    main div figure span{display: none;opacity: 0;
        margin: 0;
        padding: 0; 
        display: block; 
        position: absolute;
        left:52%; 
        bottom:3%; 
        transform: translate(-52%, 0, 0 ,-3%);
        color: white;
        font-size: 10px;}
    main figure .p-3{display: none;
        margin: 0; 
        padding: 0;
        font-size: 25px;
        position: block; 
        position: absolute;
        border-radius: 100%;
        color: white;
        width: 10%;
        left: 54.78%; 
        top:94.9%; 
        transform: translate(-49.78%,-93.5%);
    }


    main .o-2{width: 100%; margin:0 auto;}

    main .o-2 h2{
        text-align: center;
        margin-top: 10%; 
        color: #a58f65; 
        font-size:35px;}


    .o-3{
        width: 100%; 
        overflow: hidden;
        margin-left: -0.7%;
    }
    .o-4{width: 100%;
    
        animation: o4 7s inherit;
        
    }

    @keyframes o4{
        0%{transform: translateX(0);}

       50%{transform: translateX(-94%);}

        100%{transform: translateX(-200%);}
    }

    .o-4 figure{
        font-size: 0; 
        display: flex;
         margin: 0;
         margin-top: 5%; 
         justify-content:start;
         width: 100%;
    }
    .o-4 a{
        width:300px; 
        display: inline-block;
        flex-shrink: 0;
        margin-left: -8%; 
    }
    .o-4 a:last-child{margin-right: 0;}
    .o-4 a img{width: 80%; height: 300px;}
    .o-3 p{margin-top: 5%; 
        word-break:keep-all;
        text-align: center;
        line-height: 30px;
        margin-left: 10%;
    width: 80%;}



    .o-1{width: 100%;
        margin-top: 0%;
        margin-top: -550px;
        background-color:#f3eee6;
        display: flex;
        flex-direction: column-reverse;
       }
    .o-1 figure{width: 100%;}
    .o-1 figure img{width: 100%;}
    .b-1{
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start ;
        padding:0 15%;
        box-sizing: border-box;
    }
    .b-1 h2{ margin-top: 5%;}
    .b-1 span{
        display: block; 
        text-align: left;
        padding-top: 4%;
        word-break: keep-all;
    }

    .o-5{background-color:#f3eee6;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        background-color:#f3eee6;}

    .o-5 figure{width: 100%;}
    .o-5 figure img{width: 100%; margin-top: 10%;}
    .o-6{
        width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15%;
    box-sizing: border-box;}
    .o-6 h2{margin-top: 5%;}
    .o-6 span{
        text-align: left;
        display: block;
        ;padding-top: 4%;
        word-break: keep-all;}
    }

    @media (min-width:769px) and (max-width:1374px){
       
        main{
            width:100%;
            
        }
        main div{position: relative;}
        main > div figure{margin:0; overflow:hidden;}
        main > div figure video{margin-top: 15%;}
        main div .center{display: none;
            left: 50%;top:50%;
            font-size: 1.5rem; 
            color: white;
            position: absolute; 
            transform:translate(-50%,-50%);
            text-align: center;
        }
        main div .tx-2{display: none;
            font-family:'Dancing script';
            font-size: 82px; 
            margin: 0;
            padding: 0;
            text-align: left;}
            
        main .p-1{display: none;opacity: 0;
            position: absolute; 
            display: block;
            left:50%;bottom: 2%;
            transform: translate(-50%,2%);}
        main .p-2 {display: none;
            position:absolute;
            right:53%; top:97%; 
            transform: translate(0,97%,53%);}
        main div figure span{display: none;opacity: 0;
            margin: 0;
            padding: 0; 
            display: block; 
            position: absolute;
            left:52%; 
            bottom:3%; 
            transform: translate(-52%, 0, 0 ,-3%);
            color: white;
            font-size: 10px;}
        main figure .p-3{display: none;
            margin: 0; 
            padding: 0;
            font-size: 25px;
            position: block; 
            position: absolute;
            border-radius: 100%;
            color: white;
            width: 10%;
            left: 54.78%; 
            top:94.9%; 
            transform: translate(-49.78%,-93.5%);
        }
    
    
        main .o-2{width: 100%; margin:0 auto;}
    
        main .o-2 h2{
            text-align: center;
            margin-top: 150px; 
            color: #a58f65; 
            font-size:35px;}

             .book{
        background: #a58f65; 
        display:block;
        position: absolute;
        left: 94.4%; top:50%; transform: translate(-94.4%,50%);
        transform: rotate(-90deg);
        width: 9%;height: 5%;
        text-align: center; 
        text-decoration: none;
        color: white;
        font-size: 0.6rem;
        line-height: 340%;
        position: fixed;
        z-index: 100;}

.book:hover{
        color: black; 
        font-size: 0.7rem; 
        line-height: 490%;
        z-index: 100;}   
    
    
        .o-3{
            width: 100%; 
            overflow: hidden;
            margin-left: -0.7%;
        }
        .o-4{width: 100%;
        
            animation: o4 6s inherit;
            
        }
    
        @keyframes o4{
            0%{transform: translateX(0);}
    
           50%{transform: translateX(-20%);}
    
            100%{transform: translateX(-100%);}
        }
    
        .o-4 figure{
            font-size: 0; 
            display: flex;
             margin: 0;
             margin-top: 50px; 
             justify-content:start;
             width: 100%;
        }
        .o-4 a{
            width:300px; 
            display: inline-block;
            flex-shrink: 0;
            margin-left: -2.5%; 
        }
        .o-4 a:last-child{margin-right: 0;}
        .o-4 a img{width: 80%; height: 300px;}
        .o-3 p{margin-top: 50px; word-break:keep-all;
            text-align: center;
            line-height: 30px;
        width: 100%;}
    
    
    
        .o-1{width: 100%;
            margin-top: -550px;
            background-color:#f3eee6;
            display: flex;
            flex-direction: column-reverse;
           }
        .o-1 figure{width: 100%;}
        .o-1 figure img{width: 100%;}
        .b-1{
            width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start ;
            padding:0 15%;
            box-sizing: border-box;
        }
        .b-1 h2{ margin-top: 5%;}
        .b-1 span{
            display: block; 
            text-align: left;
            padding-top: 4%;
            word-break: keep-all;
        }
    
        .o-5{background-color:#f3eee6;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            background-color:#f3eee6;}
    
        .o-5 figure{width: 100%;}
        .o-5 figure img{width: 100%; margin-top: 10%;}
        .o-6{
            width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 15%;
        box-sizing: border-box;}
        .o-6 h2{margin-top: 5%;}
        .o-6 span{
            text-align: left;
            display: block;
            ;padding-top: 4%;
            word-break: keep-all;}
        }

        