@import url('./common.css');

.q-1{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.q-1 h3{margin-top: 3%;}
.q-1 h3 span{color: #bec2ba; font-size: 1rem;}
.q-1 h3{color:#8b9187;font-size: 1.7rem}
.q-1 p{
    font-size: 2rem;
    color: #bec2ba;
    margin-left: 1%;
    margin-right:1%;
    margin-top: 3%;
    height: 15px;}
.q-4 li{list-style: none;color: #8b9187;}
.q-4 li span{
    color: #8b9187;
    padding-left: 2%; 
    width: 500px;}
.q-4{width: 30%; margin-top: 3.5%;}
.q-4 li strong{display: inline-block;}
.q-4 li:nth-of-type(1) strong{margin:0 10px 0 0 ;}
.q-4 li:nth-of-type(2) strong{margin:0 40px 0 0 ;}
.q-4 li:nth-of-type(3) strong{margin:0 2px 0 0 ;}
.q-2{
    width: 100%;
    overflow: hidden;
    margin-top: 2%;}
.q-3{
    display: flex;
    justify-content: center;
    align-items: center;}
.q-3 li img{width:100%; margin-left: -3%;}
.q-3 li{list-style: none;margin-left: 2%;}





@media (min-width:360px) and (max-width:768px){

  main{width: 100%;}
    .q-1{width: 100%;display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-top: 12%;
        margin-left: 4%;}
    .q-1 h3{
        margin-top: 5%;
        margin-left: -4%;
        color:#8b9187;
        font-size: 1.7rem;}
    .q-1 h3 span{color: #bec2ba; font-size: 1rem;}
    .q-1 p{display: none;
        font-size: 2rem;color: #bec2ba;
        margin-left: 4%;
        margin-top: 3%;}
    .q-4 li{list-style: none;color: #8b9187;margin-top: 5%;}
    .q-4 li span{
        color: #8b9187;
        width: 500px;}
    .q-4{width: 100%; display: flex;flex-direction: column;}
    .q-4 li strong{display: block;}
    .q-4 li:nth-of-type(1) strong{margin:0 10px 0 0 ;}
    .q-4 li:nth-of-type(2) strong{margin:0 40px 0 0 ;}
    .q-4 li:nth-of-type(3) strong{margin:0 2px 0 0 ;}
    .q-2{
        width: 100%;
        overflow: hidden;
        margin-top: 5%;}
    .q-3{width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;}
    .q-3 li img{width:100%; margin-left: -3%;}
    .q-3 li{list-style: none;margin-left: 2%;}


}


@media (min-width:769px) and (max-width:1374px){

    main{width: 100%;}
    .q-1{width: 100%;display: flex; 
        justify-content: center;
        align-items: center;margin-top: 10%;
   }
    .q-1 h3{margin-top: 5%;margin-left: -4%;}
    .q-1 h3 span{color: #bec2ba; font-size: 16px;}
    .q-1 h3{color:#8b9187;font-size: 26px}
    .q-1 p{font-size: 2rem;color: #bec2ba;
        margin-left: 4%;margin-top: 3%;}
    .q-4 li{list-style: none;color: #8b9187;margin-top: 2%;}
    .q-4 li span{color: #8b9187;
        padding-left:0%; width: 500px; }
    .q-4{width: 40%;margin-left: 2%;}
    .q-4 li strong{display: inline-block;}
    .q-4 li:nth-of-type(1) strong{margin:0 10px 0 0 ;}
    .q-4 li:nth-of-type(2) strong{margin:0 40px 0 0 ;}
    .q-4 li:nth-of-type(3) strong{margin:0 2px 0 0 ;}
    .q-4{margin-top:6.5%; margin-right: -10%;}
    .q-2{width: 100%;overflow: hidden;
        margin-top: 5%;}
    .q-3 li{list-style: none;}
    .q-3{width: 100%; margin-left: 0%;}
    .q-3{display: flex;
        justify-content: center;
        align-items: center;}
    }



