@charset 'utf-8';

*{
    box-sizing: border-box; /* border나 padding 사용 시 박스 사이즈 변화 없음 */
   
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}
html,body{margin: 0; }
ul,li,ol{
    list-style-type: none; 
    margin: 0; padding: 0;
}
h1,h2,h3,h4,h5,h6,figure,p,article{margin: 0;}
img{vertical-align: top;}
a{text-decoration: none;}


main{width: 91%;margin: 0; padding: 0;margin-right: 0;float: right;}


header{position: relative;
    position: fixed;
    width:9%; height:100vh; z-index: 100;
    background-color: black;
    transition: 0.5s;
}


    header:hover{width: 10%;}

    header article{top:90%;left:21%;position: absolute; }

    header article h2{
        color:#a58f65; font-size: 1px;
        text-align: center; }

    header img{margin-top: 20%;
        width: 16px; height: 16px;
        background-color:#a58f65
    }
    header h1{
        margin: 0;padding: 0;
        text-align: center;
        background-color: #a58f65; 
        padding: 60px 0;
    }


    header h1 .ho1{
        color: white; 
        font-size: 1px;
        padding-top: 3px;}
    header h1 .ho2{
        display:inline; 
        color: white; 
        font-size: 1.5rem;
        border-top: 1px solid white;}
    header .menu{
        margin:0; padding:0;width: 180px;
        
        position: absolute;}

    header .menu li{
        margin-top: 40px;
        margin-left: 20%; }
    header .menu li a{
        font-size: 0.9rem; color:#a58f65;
        list-style: none;font-family: 'bene';
        text-decoration: none;}
    header .menu .m1:hover{color: white; font-size: 1.0rem;}
    header .menu .m2:hover{color: white; font-size: 1.0rem}
    header .menu .m3:hover{color: white; font-size: 1.0rem}
    header .menu .m4:hover{color: white; font-size: 1.0rem}

    .book{
        background: #a58f65; 
        display:block;
        position: absolute;
        left: 94.4%; top:50%; transform: translate(-94.4%,50%);
        transform: rotate(-90deg);
        width: 9%;height: 5%;
        text-align: center; 
        text-decoration: none;
        color: white;
        font-size: 0.6rem;
        line-height: 550%;
        position: fixed;
        z-index: 100;}

.book:hover{
        color: black; 
        font-size: 0.7rem; 
        line-height: 490%;}



    @media (min-width:360px) and (max-width:768px){
        
        *{
            box-sizing: border-box; /* border나 padding 사용 시 박스 사이즈 변화 없음 */
           
        }
        
        html{
            scroll-behavior: smooth;
            font-size: 16px;
        }
        html,body{margin: 0; }
        ul,li,ol{
            list-style-type: none; 
            margin: 0; padding: 0;
        }
        h1,h2,h3,h4,h5,h6,figure,p,article{margin: 0;}
        img{vertical-align: top;}
        a{text-decoration: none;}
        
        
        main{width: 100%;margin: 0; padding: 0;margin-right: 0;}
        
        
        header{
            display: flex;justify-content: space-between;
            position: static;
            width:100%; height:0vh; z-index: 100;
            background-color: #a58f65;
            transition: 0.5s;
        }
        
/*         
            header:hover{width: 12%;} */
            header article{top:10%;left:80%;position: static; }
        
            header article h2{
                color:#a58f65; font-size: 1px;
                text-align: center; }
        
            header img{margin-top: 20%;
                width: 16px; height: 16px;
                background-color:#a58f65
            }
            header h1{
                margin: 0;padding: 0;
                text-align: center;
                background-color: #a58f65; 
                padding: 60px 0;
            }
        
        
            header h1 .ho1{
                color: white; 
                font-size: 1px;
                padding-top: 3px;}
            header h1 .ho2{
                display:inline; 
                color: white; 
                font-size: 1.5rem;
                border-top: 1px solid white;}
            header .menu{
                margin:0; padding:0;width: 0px;
                
                position: static;}
        
            header .menu li{
                margin-top: 40px;
                margin-left: 20%; }
            header .menu li a{
                font-size: 0.9rem; color:#a58f65;
                list-style: none;font-family: 'bene';
                text-decoration: none;}
            header .menu .m1:hover{color: white; font-size: 1.1rem;}
            header .menu .m2:hover{color: white; font-size: 1.1rem}
            header .menu .m3:hover{color: white; font-size: 1.1rem}
            header .menu .m4:hover{color: white; font-size: 1.1rem}
        
            /* .book{
                background: #a58f65; 
                display:block;
                position: absolute;
                left: 92%; top:50%; transform: translate(-92%,50%);
                transform: rotate(-90deg);
                width: 12%;height: 7%;
                text-align: center; 
                text-decoration: none;
                color: white;
                font-size: 0.6rem;
                line-height: 550%;
                position: fixed;
                z-index: 100;}
        
        .book:hover{
                color: black; 
                font-size: 0.7rem; 
                line-height: 490%;}
        }         */