@import url('./common.css');




    main{
        width:91%; float: right;
        
    }
    main div{position: relative;}
    main > div figure{margin:0; overflow:hidden;}
    main div .center{
        left: 50%;top:50%;font-size: 1.5rem; color: white;
        position: absolute; 
        transform:translate(-50%,-50%);
        text-align: center;
    }
    main div .tx-2{font-family:'Dancing script';
        font-size: 82px; margin: 0;padding: 0;
    text-align: left;}
        
    main .p-1{
        position: absolute; display: block;
        left:50%;bottom: 2%;transform: translate(-50%,2%);}
    main .p-2 {
        position:absolute;
        right:53%; top:97%; 
        transform: translate(0,97%,53%);}
    main div figure span{
        margin: 0;padding: 0; 
        display: block; ;position: absolute;
        left:52%; bottom:3%; transform: translate(-52%, 0, 0 ,-3%);
        color: white;font-size: 10px;}
    main figure .p-3{
        margin: 0; padding: 0;font-size: 25px;
        position: block; position: absolute;
        border-radius: 100%;color: white;width: 10%;
        left: 54.78%; top:94.9%; transform: translate(-49.78%,-93.5%);
    }




    main .o-2 h2{text-align: center;
        margin-top: 150px; color: #a58f65; font-size:35px;}


    .o-3{width: 70%; margin-left: 15%;
        overflow: hidden;
    }
    .o-4{width: 100%;
    
        animation: o4 6s infinite;
        
    }

    @keyframes o4{
        0%{transform: translateX(0);}
        
        50%{transform: translateX(-55%);}
    
        100%{transform: translateX(-110%);}
    }

    .o-4 figure{
        font-size: 0; 
        display: flex; margin: 0;margin-top: 50px; justify-content: start;
    }
    .o-4 a{
        width:300px; display: inline-block;
        flex-shrink: 0; margin-right:3%;
    }
    .o-4 a:last-child{margin-right: 0;}
    .o-4 a img{width: 100%; height: 300px;}
    .o-3 p{margin-top: 50px; text-align: center;line-height: 30px;}



    .o-1{width: 100%;
        margin-top: 150px;
        background-color:#f3eee6;
        display: flex;}
    .o-1 figure{width: 50%;}
    .o-1 figure img{width: 100%;}
    .b-1{
        width: 50%; 
        display: flex;flex-direction: column;
        justify-content: center;
        align-items: flex-start ;
        padding:0 15%;
        box-sizing: border-box;
    }
    .b-1 h2{}
    .b-1 span{
        display: block; 
        text-align: left;
        padding-top: 4%;
        word-break: keep-all;
    }

    .o-5{background-color:#f3eee6;
        width: 100%;display: flex;
        flex-direction: row-reverse;
        background-color:#f3eee6;}

    .o-5 figure{width: 50%;}
    .o-5 figure img{width: 100%;}
    .o-6{width: 50%;
    display: flex;flex-direction: column;justify-content: center;
    align-items: flex-start;
    padding: 0 15%;
    box-sizing: border-box
    ;}
    .o-6 h2{}
    .o-6 span{text-align: left;display: block;
        ;padding-top: 4%;word-break: keep-all;
    }


@media (min-width:360px) and (max-width:768px){
        
main figure video{margin-top: 50%;}

}