@import url(common.css);


main{width: 91% ;float: right;}

.e-5{width: 100%; display: flex;}
.e-3{width: 40%; background-color: #f8ead6;height: 100vh;}
.e-4{width: 60%;}
.e-4 figure{width: 100%;}
.e-4 figure img {width: 100%;height: 100vh;}
.e-3{display: flex; flex-direction: column;justify-content: center;align-items: center;}
.e-3 ul li{list-style: none;margin-top: 6%;}
.e-3 h2{ color: #a58f65; font-size: 2rem;}
.e-3 ul {margin-top: 3%;}
.e-3 ul li {font-size: 1rem; }

.e-3 li:nth-child(1) input{width: 100%;margin-top: 2%;}
.e-3 li:nth-child(2) input{width: 100%;margin-top: 2%;}
.e-3 li:nth-child(3) input{width: 100%;margin-top: 2%;}
.e-3 li:nth-child(4) input{width: 100%;margin-top: 2%;}
.e-3 li:nth-child(5) input{width: 100%;margin-top: 2%;}


@media (min-width:360px) and (max-width:768px){
   
    main{width: 100% ;float: right;}

    .e-5{width: 100%; display: flex; flex-direction: column-reverse;}
    .e-3{width: 100%; background-color: #f8ead6;height: 50vh;}
    .e-4{width: 100%;}
    .e-4 figure{width: 100%;}
    .e-4 figure img {width: 100%;height: 50vh;}
    .e-3{display: flex; flex-direction: column;justify-content: center;align-items: center;}
    .e-3 ul li{list-style: none;margin-top: 6%;}
    .e-3 h2{ color: #a58f65; font-size: 2rem;}
    .e-3 ul {margin-top: 3%;}
    .e-3 ul li {font-size: 1rem; }
    
    .e-3 li:nth-child(1) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(2) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(3) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(4) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(5) input{width: 100%;margin-top: 2%;}
}    

@media (min-width:769px) and (max-width:1374px){
    main{width: 100% ;float: right;}

    .e-5{width: 100%; display: flex;}
    .e-3{width: 40%; background-color: #f8ead6;height: 100vh;}
    .e-4{width: 60%;}
    .e-4 figure{width: 100%;}
    .e-4 figure img {width: 100%;height: 100vh;}
    .e-3{display: flex; flex-direction: column;justify-content: center;align-items: center;}
    .e-3 ul li{list-style: none;margin-top: 6%;}
    .e-3 h2{ color: #a58f65; font-size: 2rem;}
    .e-3 ul {margin-top: 3%;}
    .e-3 ul li {font-size: 1rem; }
    
    .e-3 li:nth-child(1) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(2) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(3) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(4) input{width: 100%;margin-top: 2%;}
    .e-3 li:nth-child(5) input{width: 100%;margin-top: 2%;}

}

